* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Fraunces", serif;
  background-color: #66c6f6;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  position: relative;
  color: #fff;

  .logo {
    font-size: 1.5em;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
  }

  .menu-icon {
    display: none;
  }
  .menu {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;

    li {
      margin: 0 10px;
    }

    a {
      color: #fff;
      text-decoration: none;
    }

    .button {
      background-color: #fff;
      color: #24303e;
      padding: 10px 20px;
      border-radius: 15px;
      text-transform: uppercase;
      font-weight: bold;
      cursor: pointer;
    }

    .button:hover {
      background-color: rgba(255, 255, 255, 0.5);
      color: #fff;
    }
  }
}

main {
  background-image: url("../images/orange.png");
  background-size: 100%;
  background-position: 50% 25%;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;
  height: 100vh;

  h1 {
    font-size: 56px;
    text-transform: uppercase;
    margin-bottom: 60px;
    margin-top: 200px;
    text-align: center;
  }
}

// Mobile responsive
@media (max-width: 375px) {
  nav {
    padding: 20px;

    .menu {
      display: none;
    }

    .menu-icon {
      display: block;

      &:hover + .menu::before {
        content: "";
        position: absolute;
        bottom: 318px;
        left: 249px;
        width: 70px;
        height: 70px;
        background-color: #fffcf8;
        clip-path: polygon(50% 100%, 100% 100%, 100% 50%);
        outline-offset: none;
      }

      &:hover + .menu {
        display: block;
        position: absolute;
        top: 90px;
        width: 85%;
        height: 320px;
        background-color: #fffcf8;

        a {
          color: #808397;
          text-decoration: none;
          line-height: 70px;
          font-size: 20px;
        }
        .button {
          background-color: #fbd600;
          color: #24303e;
        }
      }
    }
  }

  .logo {
    svg {
      width: 80px;
    }
  }

  main {
    background-size: 200%;
    background-position: 50% 50px;

    h1 {
      font-size: 46px;
      margin-bottom: 10px;
      margin-top: 120px;
      line-height: 1.1;

      & + svg {
        width: 35px;
        margin-top: 20px;
      }
    }
  }
}
